<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test thread-count="2" name="suppliers" parallel="methods">
		<classes>
			<class name="com.Apptest.SuppliersTest" />
			<methods>
				<include name="suppliersTest">
				</include>
			</methods>
			<class name="com.Apptest.StoreLinkTest" />

		</classes>
	</test> <!-- suppliers -->
</suite> <!-- Suite -->
